<template>
    <div id="app">
        <toolBar />
</template>

<script>
    import toolBar from './components/toolBar.vue'

    export default {
        name: 'app', 
        components: {toolBar}
    }
</script>