<template>
    <button id="mButton" v-on:click="addPets"></button>
</template>

<script>
export default {
    el: 'mButton',
    methods: {
        addPets: function() {
            console.log('ich bin es schnudderhäsli')
        }
    }
}
</script>